.cart-page{
    display:flex;
    flex-direction:column;
}

.checkout-text{
    font-family:sans-serif;
    font-size:48px;
    font-weight:900;
    text-align:center;
    margin:30px auto 30px 30px;
}

.price-text{
    text-align:end;
    margin-right:40px;
}

.empty-text{
    font-family:sans-serif;
    font-size:32px;
    font-weight:900;
    text-align:center;
}

.order-button{
    border:none;
    background:gray;
    border-radius:10px;
    color:white;
    padding:10px 20px;
    justify-self:center;
    margin: 0 auto 30px;
    font-size:24px;
    cursor: pointer;
}

.order-button:hover{
    color:gray;
    background:white;
    border:2px solid gray;
    padding:8px 18px;
}

@media (max-width:768px){
    .checkout-text{
        font-size:36px;
    }

    .empty-text, .price-text{
        font-size:24px;
    }

    .order-button{
        font-size:18px;
        padding:5px 10px;
    }
}

@media (max-width:512px){
    .checkout-text{
        font-size:24px;
    }
    
    .empty-text, .price-text{
        font-size:16px;
    }

    .order-button{
        font-size:14px;
        padding:4px 8px;
    }
}

